@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;

.footer {
  padding: 3rem;
  text-align: center;
  text-transform: capitalize;

  @include responsive(desktop) {
    display: flex;
    justify-content: space-between;
  }

  span {
    color: var(--main);
  }
  .copyright {
    margin-top: 2rem;
    
    
    @include responsive(desktop) {
      
      margin-top: 0;
  }

    @include font-style(map-get($fontSize, smaller));
    a {
      text-decoration: none;
      color: var(--main);
    }
  }
}
