@use '../abstracts/variables' as *;
@use '../abstracts/mixin' as *;

.header {
  padding: 3rem;
  &__top {
    display: flex;
    justify-content: space-between;

    h2 {
      @include font-style(
        map-get($fontSize, h2),
        map-get($fontWeight, semibold),
        var(--darkBlue),
        capitalize
      );
    }

    &__button {
      padding: 1.4rem 2.5rem;
      background-color: var(--main);
      border: none;
      border-radius: 3px;
      color: white;
      text-transform: uppercase;
      gap: 1rem;
      display: none;
      cursor: pointer;

      @include responsive(tablet) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    @include responsive(tablet) {
      display: none;
    }
    img {
      width: 3.2rem;
    }
    .dateText {
      text-transform: uppercase;
      @include font-style(
        1.3rem,
        map-get($fontWeight, semibold),
        var(--darkBlue),
        uppercase
      );
      width: 6rem;
    }
  }

  &__boxes {
    margin-top: 3rem;

    @include responsive(tablet) {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
    }
    @include responsive(tablet-land) {
      align-items: stretch;
    }
    @include responsive(desktop) {
      justify-content: start;
    }

    &__welcome {
      box-shadow: var(--shadowBox);
      border-radius: 6px;
      padding: 2rem;
      background-color: #fff;
      img {
      }
      h3 {
        @include font-style(
          map-get($fontSize, h3),
          map-get($fontWeight, semibold),
          var(--darkBlue),
          capitalize
        );
      }
    }

    &__information {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      gap: 3rem;

      @include responsive(tablet) {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
      }

      @include responsive(desktop) {
        width: 63vw;
      }
      &__box {
        @include responsive(phone-land) {
          padding: 2.4rem;
          flex-direction: column;
          align-items: center;
        }
        @include responsive(tablet-land) {
          flex-direction: row;
        }
        @include responsive(desktop) {
          padding: 2rem;
          border-left: 5px solid var(--main-50);
        }

        background-color: #fff;
        display: flex;
        padding: 0.4rem;

        box-shadow: var(--shadowBox);
        border-left: 3px solid var(--main-50);
        justify-content: space-between;
        overflow: hidden;
        border-radius: 3px;
        img {
          width: 5rem;

          @include responsive(desktop) {
            width: 9rem;
          }
        }

        &__details {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          @include responsive(phone-land) {
            gap: 1.5rem;
          }
          h2 {
            @include font-style(
              map-get($fontSize, h2),
              map-get($fontWeight, semibold),
              var(--darkBlue),
              capitalize
            );

            @include responsive(desktop) {
              font-size: 7rem;
            }
          }
          p {
            @include font-style(
              map-get($fontSize, smaller),
              map-get($fontWeight, semibold),
              var(--darkBlue),
              capitalize
            );
            @include responsive(phone-land) {
              font-size: map-get($fontSize, base);
            }
            @include responsive(desktop) {
              font-size: 2.2rem;
            }
          }
        }
      }
    }

    &__date {
      display: none;

      @include responsive(tablet-land) {
        display: block;
        align-self: center;
        text-align: center;
      }
    }
  }
}
