@mixin font-style(
  $size,
  $weight: 400,
  $color: var(--textColor),
  $transform: lowercase
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $transform;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == 'phone-land' {
    @media (min-width: 31.25rem) {
      @content;
    }
  }
  @if $breakpoint == 'tablet' {
    @media (min-width: 48rem) {
      @content;
    }
  }
  @if $breakpoint == 'tablet-land' {
    @media (min-width: 56.25rem) {
      @content;
    }
  }
  @if $breakpoint == 'desktop' {
    @media (min-width: 75rem) {
      @content;
    }
  }
}
